.cont{
    min-height: calc(100vh - 34px);
}
.BodyFooter{
    margin-bottom: 0px;
    padding: 0px;
    font-family: monospace;
    overflow: hidden;
    background-color: white;
    border-top: 2px solid black;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    color: white;
}
